@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */

body {
    @apply font-inter !important;
}

/* Auth forms */

.auth-form .ant-form-item-label > label {
    @apply text-text-color;
}

.auth-form .ant-input {
    @apply bg-main-3 border-main-3 text-text-color;
}

.auth-form .ant-input-password {
    @apply bg-main-3 border-main-3 text-text-color;
}

.auth-form .ant-input-status-error {
    @apply bg-main-3 text-text-color !important;
}

.auth-form .submit-button {
    @apply bg-main-4 text-white;
}

.auth-form .ant-input-password .anticon-eye-invisible > svg {
    @apply text-main-4;
}

.auth-form .ant-input-password .anticon-eye > svg {
    @apply text-main-4;
}

/* Chat chooser */

.search-input {
    @apply h-[2.5rem] w-[22rem] mt-3;
}

.search-input.ant-input {
    @apply bg-main-3 border-main-3 text-text-color rounded-xl;
}

.search-input.ant-input:focus {
    @apply border-main-4 shadow-none;
}

.search-input.ant-input::placeholder {
    @apply text-text-color opacity-50;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}